<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  this is contact

  <div class="card">
 <img src="images/img_avatar.png" alt="Avatar" style="width:100%">
 <div class="container">
   <h4><b>Juan Trujillo</b></h4>
   <p>Paediatric Consultant- Paediatric Allergist</p>
   <p>Cork University Hospital</p>
   <p>IMC 427432</p>
 </div>
</div>

</body>
</html>
