<!-- <!DOCTYPE html> -->
<!-- <html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AllergyCork.ie</title>
</head>
<body> -->
  <h1>Welcome to AllergyCork</h1>
  <h3>This WebApp is Under Construction</h3>

<div class="callout">
  <div class="callout-header">Talk to US</div>
  <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
  <div class="callout-container">
    <p>You can contact us directly<a href="#">Learn more</a> start a new chat</p>
  </div>
</div>

<!-- </body>
</html> -->
